@media only screen and (min-width: 768px) {
    form {
        height: 1fr;
        display: grid;
        grid-template-columns: 0.8fr 0.5fr;
        grid-template-rows: max-content;
        gap: 0px 0px;
        grid-template-areas: "invulvelden probleem";
        background-color: #F7F9FB;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .invulvelden {
        margin-top: auto;
        margin-bottom: auto;
        grid-area: invulvelden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  max-content max-content max-content ;
        grid-template-areas: ". ." ". ." ". ." ;
    }
    #email{
        margin-top: auto;
        margin-bottom: auto;
        height: 30%;
        width: 100%;
    }
    .txtinput{
        margin: auto;
        height: 30%;
    }
    h2{
        text-align: center;
    }


    .probleem {
        margin-left: 5%;
        grid-area: probleem;
    }
    #vraag {
        font-size: large;
        height: 40%;
        width: 70%;
    }
    input[type=submit] {
        width: max-content;
        height: max-content;
    }
}
@media only screen and (max-width: 768px) {
    form{
        padding: 5%;
        background-color: #F7F9FB;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #email{
        width: 90%;
    }
    #vraag {
        font-size: medium;
        width: 90%;
    }
    input[type=text]{
        width: 90%;
    }
}